<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,400i,600,700&display=swap" rel="stylesheet">
		<title>tailwind-vue-cli</title>
	</head>
	<body class="bg-white">
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
