<template>
    <div class="w-full p-5 sm:w-3/4 sm:m-auto sm:p-5 md:m-0 md:w-6/12 lg:w-4/12 md:p-2 lg:p-2">
        <div class="flip-container w-100" :class="[(flip || card.state =='new') ? 'flip-back' : '']">
            <div class="flipper">
                <div class="front transition-500 relative">
                    <div class="card overflow rounded-2xl bg-gray-600">
                        <div class="p-10 pb-5 text-center">
                            <img v-if="card.image" :src="card.image" alt="" class="h-40 w-40 rounded-full object-cover object-center shadow-lg inline-block">
                            <h3 v-if="card.name" class="font-bold text-xl text-white mt-10 flex items-center justify-center">{{card.name}}</h3>
                            <p v-if="card.location" class="text-gray-400 text-sm">{{card.location}}</p>
                        </div>
                        <div class="p-10 pt-5">
                            <div v-if="card.gender" class="border-gray-500 border-b flex items-center justify-between py-5 w-full">
                                <div class="text-gray-400 text-sm">Gender</div>
                                <div class="text-sm text-white">{{card.gender}}</div>
                            </div>
                            <div v-if="card.status" class="border-gray-500 border-b flex items-center justify-between py-5 w-full">
                                <div class="text-gray-400 text-sm">Status</div>
                                <div class="text-sm text-white">{{card.status}}</div>
                            </div>
                            <div v-if="card.species" class="border-gray-500 border-b flex items-center justify-between py-5 w-full">
                                <div class="text-gray-400 text-sm">Species</div>
                                <div class="text-sm text-white">{{card.species}}</div>
                            </div>
                        </div>
                        <div class="p-10 pt-5 text-center">
                            <button @click="edit" class="btn btn-blue">
                                <div class="inline-block">
                                    <font-awesome-icon icon="pen" class="fill-current text-lg"></font-awesome-icon>
                                </div>
                            </button>

                            <button @click="del(card.id)"  class="btn btn-red ml-5">
                                <div class="inline-block">
                                    <font-awesome-icon icon="trash-alt" class="fill-current text-lg"></font-awesome-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="back absolute top-0 left-0 h-full w-full transition-500">
                    <div class="card rounded-2xl bg-gray-600 shadow-2xl">
                        <div class="p-10 pb-5">
                            <h3 class="font-bold text-xl text-white flex mt-5 items-center">
                                <span v-if="data.state !='new'" class="inline-block mr-2">
                                    <button @click="back" class="no-underline text-gray-400 focus:outline-none">
                                        <font-awesome-icon icon="arrow-left" class="fill-current text-lg"></font-awesome-icon>
                                    </button>
                                </span>
                                {{data.state === 'new' ? 'New Register' : 'Edit Register'}}
                            </h3>
                        </div>
                        <div class="p-10 pt-5">
                            <form action="">
                                <div class="w-full mb-4">
                                    <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Imagen</label>
                                    <input type="text" v-model="data.image" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                </div>
                                <div class="w-full mb-4">
                                    <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Names</label>
                                    <input type="text" v-model="data.name" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                </div>
                                <div class="flex flex-wrap -mx-2">
                                    <div class="w-6/12 px-2 mb-4">
                                        <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Status</label>
                                        <select v-model="data.status" name="status" id="" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                            <option value="Unknown">Unknown</option>
                                            <option value="Alive">Alive</option>
                                            <option value="Dead">Dead</option>
                                        </select>
                                    </div>
                                    <div class="w-6/12 px-2 mb-4">
                                        <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Species</label>
                                        <select v-model="data.species" name="species" id="" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                            <option value="Human">Human</option>
                                            <option value="Alien">Alien</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-full mb-4">
                                    <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Gender</label>
                                    <select v-model="data.gender" name="gender" id="" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                        <option value="Unknown">Unknown</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="w-full mb-4">
                                    <label for="" class="block text-sm text-gray-400 font-semibold mb-2">Location</label>
                                    <input v-model="data.location" type="text" class="border-0 rounded-lg focus:outline-none py-3 px-4 text-sm text-gray-600 w-full">
                                </div>

                                <div class="w-full p-10 pt-5 text-center">
                                    <button v-if="validate" @click="save(card.id)" type="button" class="btn btn-green" >
                                        <div class="inline-block">
                                            <font-awesome-icon icon="check" class="fill-current text-lg"></font-awesome-icon>
                                        </div>
                                    </button>
                                    <button v-if="data.state == 'new'" @click="cancel(card.id)" type="button" class="btn btn-red" :class="{'ml-5' : validate}">
                                        <div class="inline-block">
                                            <font-awesome-icon icon="times" class="fill-current text-lg"></font-awesome-icon>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {clone} from 'lodash';
    export default {
        name: 'Card',
        props: {
            'card':  Object
        },
        data() {
            return {
                flip: false,
                data: {}
            }
        },
        methods: {
            set: function () {
                this.data = clone(this.card);
            },

            edit: function () {
                this.flip = true; 
            },

            del: function (id) {
                this.$emit('del', id);
            },

            save: function (id) {

                this.$emit('save', this.data, id);

                if(this.card.state != 'new') {
                    this.back();
                }
            },
            
            // form events
            back: function () {

                this.flip = false;

            },

            cancel: function (id) {

                this.del(id);

            }
        },
        computed: {
            validate: function () {
                if(
                    this.data.image != null &&
                    this.data.name != null &&
                    this.data.status != null &&
                    this.data.gender != null &&
                    this.data.species != null &&
                    this.data.location != null) {
                        return true;
                    }else{
                        return false;
                    }
            }
        },
        created: function () {
            this.set();
        }
    }
</script>


<style lang="scss">
    .flip-container{
        perspective: 1000;
        &.flip-back{
            .front{
                transform: rotateY(-180deg);
            }
            .back{
                transform: rotateY(0deg);
            }
        }
    }
    .filpper{
        position: relative;
        transform-style: preserve-3d;
    }
    .front,
    .back{
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
    .front{
        transform: rotateY(0deg);
    }
    .back{
        transform: rotateY(180deg);
    }
</style>