@tailwind base;
@tailwind components;
@tailwind utilities;

// custom css
html {
    font-size: 15px;
}

body {
    @apply font-sans;
}

// cards

.card{
    height: 657px;
}

// vue animations

.slide-up{
    &-leave-active{
        transition: opacity .4s linear, transform .4s cubic-bezier(.5,0,.7,.4);
        transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
    }

    &-enter-active{
        transition: opacity .5s linear, transform .5s cubic-bezier(.2,.5,.1,1);
        transition-delay: calc( 0.1s * var(--i) );
    }

    &-enter,
    &-leave-to{
        @apply opacity-0 translate-y-3;
    }
}

// buttons

.btn{
    @apply inline-flex justify-center items-center rounded-full w-10 h-10 shadow-lg bg-gray-100 text-gray-600;
    &:hover{
        &:not(:disabled) {
            @apply text-white;
        }
    }
    &:focus{
        @apply outline-none;
    }
    &-blue{
        &:hover{
            &:not(:disabled) {
                @apply bg-blue-400;
            }
        }
        &:disabled{
            @apply opacity-50;
        }
    }
    &-green{
        &:hover{
            &:not(:disabled) {
                @apply bg-green-400;
            }
        }
        &:disabled{
            @apply opacity-50;
        }
    }
    &-red{
        &:hover{
            &:not(:disabled) {
                @apply bg-red-400;
            }
        }
        &:disabled{
            @apply opacity-50;
        }
    }
    &:disabled{
        @apply cursor-not-allowed;
    }
}