<template>
	<div id="app">
		<div class="container mx-auto py-5">
			<div class="group-buttons text-right w-full p-5">
				<button @click="add" :disabled="disabledButton" class="inline-block py-3 px-5 text-sm bg-yellow-500 text-white uppercase font-bold rounded-lg focus:outline-none">New Register</button>
			</div>
			<div class="cards-group flex flex-wrap -mr-2 -ml-2">
				<Card v-for="(card) in cards" :key="card.id" :card="card" @del="del" @save="save"></Card>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	import {forEach, clone, findIndex} from 'lodash';
	import Card from './components/Card.vue';

	export default {
		name: 'app',
		components: {
			Card
		},
		data() {
			return {
				cards: [],
				item: {},
				edited: {},
				disabledButton: false,
				id: null,
				state: 'new',
				template : {
					"state": "new",
					"name": null,
					"gender": null,
					"status": null,
					"species": null,
					"location": null,
					"image": null
				},
			}
		},
		methods: {
			get : function () {
				axios.get("https://rickandmortyapi.com/api/character/")
                .then( response => { 
                    if(response.data) {
                        var data = response.data.results.slice(0, 4);
						var card = [];
						forEach(data, value => {
							card = {
								'state' : 'active',
								'id' : value.id,
								'name' : value.name,
								'gender' : value.gender,
								'status' : value.status,
								'species' : value.species,
								'location' : value.location.name,
								'image' : value.image
							}
							this.cards.push(card);
						});
                    }
                });
			},

			add: function () {

				let id = this.newId;

				let card = clone(this.template);

				card.id = ++id;
				
				this.cards.unshift(card);

				this.disabledButton = true;

				clone(this.template);

			},

			save: function (obj, id) {

				let index = findIndex(this.cards, (item) => { return item.id == id });

				let state = obj.state;
				
				if(state == 'new') {

					obj.state = null;

					this.disabledButton = false;
				}

				this.cards[index] = obj;


			},
			del: function (id) {

				let index = findIndex(this.cards, (item) => { return item.id == id });

				let state = this.cards[index].state;

				if(state == 'new') { 
					this.disabledButton = false;
				}

				this.cards.splice(index, 1);

			}
		},
		computed: {
			newId : function () {

				let cards = this.cards;

				let id = cards.reduce( (max, item) => (item.id > max ? item.id : max ), 0);

				return id
			}
		},
		created: function () {
			this.get();
		}
	}
</script>

<style lang="scss">
	
</style>
